
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: 	lightyellow;
}

header {
    background-image: url("header.jpg"); 
    background-size: cover; 
    background-position: center; 
    color: white;
    padding: 30px 0; 
    text-align: center;
    position: relative; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav {
    background-color: #333;
}

ul {
    list-style: none;
    padding: 0;

}

li {
    margin: 0;
}

a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

a:hover,
a:focus {
    transform: scale(1.1);
    background-color: orange;
}
.products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

.products-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.button { 
    background-color: #204060;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}


.about, .contact {
    padding: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
} 
